body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url("images/field-background.png"); /* Replace "background-image.jpg" with your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  #metamaskImg {
    position: absolute;
    top: 20px; /* Adjust the top position to your liking */
    right: 20px; /* Adjust the right position to your liking */
    cursor: pointer;
    /* Add any other styles you want for the button here */
  }

  button {
    padding: 7px 15px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%;} /* To make buttons take % width of their cell
   */
  
  /* Adjust button size for mobile devices */
  @media (max-width: 768px) {
    .button-container {
      grid-template-columns: 1fr;
    }
  }
  img {
    max-width: 400px; /* Set a maximum width for the images */
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  img:hover {
    transform: scale(1.2); 

}