/* Reset default styles */
html, body, #__next {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: block;
    margin: 8px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Poppins', 'DM Sans', sans-serif;
    line-height: 1.5;
    color: #121212;
    background-color: #caa5a5;
}
#getTopPlayersButton {
  position: fixed;
  top: 135px; 
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust for the button's width */
  background-color: #a4da01;
  color: white;
  font-weight: bold;
  font-size: 20px;
  stroke: black;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;

}

/* Custom styles for scoreboard bar */




.top-scores-link {
    color: #007aff;
    text-decoration: none;
    font-size: 16px;
}

.top-scores-link:hover {
    text-decoration: underline;
}

/* Additional styles for list of top players */
h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin-bottom: 10px;
}
